{{ $SENSU_PORT := default "4567" .SENSU_PORT }}
{
  "sensu": [
    {
      "name": "{{ default "Sensu" .SENSU_DC_NAME }}",
      "host": "{{ default "sensu" .SENSU_HOSTNAME   }}",
      "port": {{ default $SENSU_PORT .SENSU_PORT_4567_TCP_PORT }}
    }
  ],
  "uchiwa": {
    "host": "{{ default "0.0.0.0" .UCHIWA_BIND  }}",
    "port": {{ default "3000" .UCHIWA_PORT  }},
    "refresh": {{ default "5" .UCHIWA_REFRESH }}
  }
}